__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
*.log
*.sqlite3
*.db
*.env
.env.*
.DS_Store
.vscode/
temp/
storage/books/
storage/covers/
.git/
.gitignore
*.ipynb_checkpoints
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

/tests/
*.pytest_cache/

*.swp
*.swo

README.md
LICENSE
Dockerfile
docker-compose.yaml
redis.conf
